<!-- src/main/resources/templates/index.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Study Groups</title>
</head>
<body>
<h1>Study Groups</h1>
<ul>
  <li th:each="group : ${studyGroups}">
    <p><strong th:text="${group.groupName}"></strong></p>
    <p>Subject: <span th:text="${group.subject}"></span></p>
    <p>Location: <span th:text="${group.location}"></span></p>
    <p>Max Members: <span th:text="${group.maxMembers}"></span></p>
  </li>
</ul>
<a href="/api/study-groups/create">create studygroup</a>

</body>
</html>
