<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Study Groups</title>
</head>
<body>
<h1>Study Groups</h1>
<a href="/study-groups">study groups</a>
<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Mode</th>
    <th>Number of Members</th>
    <!-- Add more header columns as needed -->
  </tr>
  </thead>
  <tbody>
  <tr th:each="group : ${studyGroups}">
    <td th:text="${group.st_title}"></td>
    <td th:text="${group.st_mode}"></td>
    <td th:text="${group.st_num}"></td>
    <td th:text="${group.st_startDate}"></td>
    <td th:text="${group.st_endDate}"></td>
    <td th:text="${group.st_onoff}"></td>
    <td th:text="${group.st_date}"></td>
    <td th:text="${group.st_goal}"></td>
    <td th:text="${group.st_rules}"></td>
    <td th:text="${group.st_createDate}"></td>
    <td th:text="${group.st_click}"></td>
    <td th:text="${group.rc_start}"></td>
    <td th:text="${group.rc_end}"></td>
    <td th:text="${group.st_quest}"></td>
    <td th:text="${group.st_tend}"></td>
    <td th:text="${group.st_category}"></td>

  </tr>
  </tbody>
</table>
<a th:href="@{/study-groups/create}">Create Study Group</a>
</body>
</html>
